write-kubeconfig-mode: "0644"
token: {{ rke2_secret_token }}
server: https://{{ hostvars[groups['servers'][0]]['ansible_host'] }}:9345
tls-san:
  - {{ kube_vip_address }}
  {%- for server in groups['servers'] %}

  - {{ hostvars[server]['ansible_host'] }}
  {%- endfor %}

cni: {{ rke2_cni_plugin }}
node-label:
  - server=true
disable:
  - rke2-ingress-nginx
node-taint:
  - "CriticalAddonsOnly=true:NoExecute"
kube-controller-manager-arg:
  - "node-monitor-grace-period=20s"
  - "node-monitor-period=5s"
