write-kubeconfig-mode: "0644"
token: {{ rke2_secret_token }}
server: https://{{ hostvars[groups['servers'][0]]['ansible_host'] }}:9345
tls-san:
  - {{ vip_address }}
  {%- for server in groups['servers'] %}

  - {{ hostvars[server]['ansible_host'] }}
  {%- endfor %}

node-label:
  - server=true
cni: {{ rke2_cni_plugin }}
node-taint:
  - "CriticalAddonsOnly=true:NoExecute"
