write-kubeconfig-mode: "0644"
token: {{ rke2_secret_token }}
server: https://{{ hostvars['server1']['ansible_host'] }}:9345
tls-san:
  - {{ vip }}
  - {{ hostvars['server1']['ansible_host'] }}
  - {{ hostvars['server2']['ansible_host'] }}
  - {{ hostvars['server3']['ansible_host'] }}
node-label:
  - server=true
cni: {{ rke2_cni_plugin }}
