global_defs {
   router_id uBACKUP
}
 
vrrp_instance VI_1 {
    state BACKUP
    interface {{ keepalived_vip_interface }}
    virtual_router_id 230
    priority 100
    advert_int 1
 
   virtual_ipaddress {
       {{ keepalived_vip_address }}/32 dev {{ keepalived_vip_interface }} label {{ keepalived_vip_interface }}
    }
}
