global
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    stats timeout 30s
    user haproxy
    group haproxy
    daemon
defaults
    log global
    mode   http
    option tcplog
    option dontlognull
    timeout connect 5s
    timeout client  50s
    timeout server  50s
    retries 3
    mode tcp

frontend http_front
    bind {{ vip_address }}:80
    default_backend http_back
backend http_back
    balance roundrobin
    server server1 {{ hostvars[groups['haproxy'][0]]['ansible_host'] }}:30080 check
    server server2 {{ hostvars[groups['haproxy'][1]]['ansible_host'] }}:30080 check backup

frontend https_front
    bind {{ vip_address }}:443
    default_backend https_back
backend https_back
    balance roundrobin
    server server1 {{ hostvars[groups['haproxy'][0]]['ansible_host'] }}:30443 check
    server server2 {{ hostvars[groups['haproxy'][1]]['ansible_host'] }}:30443 check backup
