image:
  tag: {{ kube_vip_version }}
  repository: ghcr.io/kube-vip/kube-vip

config:
  address: {{ vip_address }}

env:
  vip_interface: {{ vip_interface }}
  vip_arp: "true"
  port: "6443"
  vip_cidr: "32"
  cp_enable: "true"
  cp_namespace: "kube-system"
  vip_ddns: "false"
  svc_enable: "false"
  svc_leasename: "plndr-svcs-lock"
  vip_leaderelection: "true"
  vip_leasename: "plndr-cp-lock"
  vip_leaseduration: "5"
  vip_renewdeadline: "3"
  vip_retryperiod: "1"
  address: {{ vip_address }}
  prometheus_server: ":2112"

